.header-content-title {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  text-align: center;
  margin-bottom: 8px;
}
.header-content-subtitle {
  color: #6b7280;
  text-align: center;
  /*margin: 0 0 2rem;*/
}
