.content-wrapper{
  max-width: 1280px;
}

.main-content {
    flex: 1;
    padding: 3rem;
    overflow-y: auto;
}

.content-title {
  color: #1f2937;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: start;
}

.content-subtitle {
  color: #6b7280;
  font-size: 1rem;
  margin-bottom: 32px;
  text-align: start;
}